<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InfoServelet</servlet-name>
        <servlet-class>uploadcontroller.InfoServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImg</servlet-name>
        <servlet-class>Controller.UpdateImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>Controller.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingListServlet</servlet-name>
        <servlet-class>Controller.SettingListServlet</servlet-class>
        <init-param>
            <param-name>1</param-name>
            <param-value>Setting_Role</param-value>
        </init-param>
        <init-param>
            <param-name>2</param-name>
            <param-value>Setting_issue_Type</param-value>
        </init-param>
        <init-param>
            <param-name>3</param-name>
            <param-value>Setting_Issue_Status</param-value>
        </init-param>
        <init-param>
            <param-name>4</param-name>
            <param-value>Subject_Setting_Complexity</param-value>
        </init-param>
        <init-param>
            <param-name>5</param-name>
            <param-value>Subject_Setting_Quality</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfoServelet</servlet-name>
        <url-pattern>/InfoServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImg</servlet-name>
        <url-pattern>/UpdateImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/LoginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingListServlet</servlet-name>
        <url-pattern>/SettingListServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
